body {
  background-color: #282c34;
}

.App-header {
  color: #eee;
  text-align: center;
  font-size: 30px;
  line-height: 500%;
}

.App-header h1 {
  font-family: 'Frijole', cursive;
  font-weight: normal;
}