.chefPage {
    margin: 0 15px;
    padding: 20px;
    background-color: green;
}

.chefPage .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #282c34;
}

.chefPage .cards div {
    flex-basis: 18%;
    margin: 10px 0;
    padding: 20px 15px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    border: 2px solid #000;
}