.guessPage {
    margin: 0 15px;
    padding: 20px;
    background-color: green;
}

.guessPage button {
    position: absolute;
    top: 10%;
    padding: 10px 30px;
    border: 2px solid green;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: .2s;
}

.guessPage button:hover {
    color: white;
    background-color: green;
}
.guessPage button:active {
    color: white;
    background-color: green;
    letter-spacing: 1px;
}

.guessPage .finishTurn {
    left: 5%;
}

.guessPage .turnCard {
    right: 5%;
}

.guessPage .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #282c34;
}

.guessPage .cards div {
    flex-basis: 18%;
    min-height: 65px;
    margin: 10px 0;
    padding: 20px 15px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    border: 2px solid #000;
    background-color: #bbb;
    cursor: pointer;
    transition: .2s;
}

.guessPage .cards div:hover {
    letter-spacing: 1px;
}