div.home {
    text-align: center;
    color: orange;
}

form.codeForm {
    margin: 15px;
}

form.codeForm input {
    margin-right: 10px;
    height: 60px;
    width: 50px;
    font-size: 30px;
    text-align: center;
}

 button.main {
    display: block;
    margin: 20px auto;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: rgb(50, 50, 197);
    cursor: pointer;
    transition: .2s;
}

 button.main:hover {
    letter-spacing: 2px;
    color: orange;
}

button.main a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #eee;
    font-size: 16px;
}